/*fuentes*/
@font-face{
    font-family: "pirate";
    src: url("media/fonts/VengeanceAtSea.otf");
}

/*html*/
body{
    height: 100%;
    overflow: hidden;
    background-color: #f8fdf7;

}

body.dark{
    background-color: #121417;
}

header{
    /*orden*/
    display: flex;
    justify-content: space-around;
    margin: 4vh 10vw;
    /*texto*/
    font-family: "pirate";
    font-size: 5em;
    color: #588157;
}

body.dark header{
    color: #28303b;
}

main{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

#gameHeader{
    height: 6vh;
    background-color: #718355;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

body.dark #gameHeader{
    background-color: #252B33;
}

.gameHeaderContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.gameHeaderText{
    font-family: "pirate";
    margin: 1vw;
    font-size: 1.2em;
}

.gameHeaderImg{
    aspect-ratio: 1 / 1;
    height: 4vh;
    margin: .25vw;
}

#board{
    width: 35vw;
    min-width: 600px;

    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
}

.row{
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
}

.cell{
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "pirate";
}

/*default board palette*/
.oddUndiscovered{
    background-color: #87986a;
}

.evenUndiscovered{
    background-color: #97a97c;
}

.oddDiscovered{
    background-color: #ddb892;
}

.evenDiscovered{
    background-color: #ebcaa9;;
}

/*dark board palette*/
body.dark .oddUndiscovered{
    background-color: #1c2025;
}

body.dark .evenUndiscovered{
    background-color: #20252b;
}

body.dark .oddDiscovered{    
    background-color: #252a30;
}

body.dark .evenDiscovered{
    background-color: #2c3239;
}


.flagged{
    background-image: url('media/img/flag.png');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.mine{
    background-image: url('media/img/mine.png');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}


