/*fuentes*/
@font-face{
    font-family: "pirate";
    src: url("media/fonts/VengeanceAtSea.otf");
}

/*html*/
body{
    height: 100%;
    overflow: hidden;
    background-color: #f8fdf7;

}

header{
    /*orden*/
    display: flex;
    justify-content: space-around;
    margin: 2vh 10vw;
    /*texto*/
    font-family: "pirate";
    font-size: 5em;
    color: #588157;
}

main{
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

#gameHeader{
    height: 6vh;
    background-color: #718355;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#difficulty{
    font-family: 'pirate';
    padding: 0.25rem .5rem;
    border-radius: 5px;
    background-color: rgb(215, 215, 215);
}

.gameHeaderContainer{
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.gameHeaderText{
    font-family: "pirate";
    margin: 1vw;
    font-size: 1.2em;
}

.gameHeaderImg{
    aspect-ratio: 1 / 1;
    height: 4vh;
    margin: .25vw;
}

#board{
    width: 35vw;
    min-width: 600px;

    display: grid;
    grid-template-rows: repeat(var(--rows), 1fr);
}

.row{
    display: grid;
    grid-template-columns: repeat(var(--columns), 1fr);
}

.cell{
    aspect-ratio: 1 / 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "pirate";
}

.oddUndiscovered{
    background-color: #87986a;
}

.evenUndiscovered{
    background-color: #97a97c;
}

.oddDiscovered{
    background-color: #ddb892;
}

.evenDiscovered{
    background-color: #ebcaa9;;
}

.flagged{
    background-image: url('media/img/flag.png');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

.mine{
    background-image: url('media/img/mine.png');
    background-size: 75%;
    background-position: center;
    background-repeat: no-repeat;
}

#confetti {
    position: fixed;
    inset: 0;
    width: 100vw;
    height: 100vh;
    object-fit: cover;

    pointer-events: none;
    z-index: 1000;

    display: none;
}

/*dark palette*/
body.dark{
    background-color: #12151C;
}

body.dark header{
    color: #3f5f89;
}

body.dark #gameHeader{
    background-color: #385446;
}

body.dark .gameHeaderText{
    color: rgb(215, 215, 215);
}

body.dark .cell{
    color: rgb(215, 215, 215);
}

body.dark .oddDiscovered{
    background-color: #537097;
}

body.dark .evenDiscovered{
    background-color: #658da8;
}

body.dark .oddUndiscovered{     
    background-color: #466a57;
    
}

body.dark .evenUndiscovered{
    background-color: #4d7b68;
}

body.dark #difficulty{
    background-color: #12151C;
    border-color: #12151C;
    color: rgb(215, 215, 215);
}

body.dark .flagged{
    background-image: url('media/img/darkFlag.png');
}

body.dark #mineCounterFlag{
    content: url('media/img/darkFlag.png');
}

body.dark #reloadButton{
    content: url("media/img/whiteReloadArrow.png")
}



